{% extends 'layout.html' %}

{% block content %}
<main id="main">
    <div class="formwrapper">
        <h2 class="title">{{ title }}</h2>
        <div class="authentication">
            <form method="POST" action="{{ handler_url }}">
                 {{ form.csrf_token }} <!-- Need to include this token - Flask WTForms requires it. -->
                <div class="form-field"><h3>{{ form.username.label }}</h3> {{ form.username }}
                    {% if form.username.errors or username_error_message is not none %}
                        <ul class="errors">
                            {% if username_error_message is not none %}
                                <li>
                                    {{ username_error_message }}
                                </li>
                            {% endif %}
                            {% for error in form.username.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="form-field"><h3>{{ form.password.label }}</h3> {{ form.password }}
                    {% if form.password.errors or password_error_message is not none %}
                        <ul class="errors">
                            {% if password_error_message is not none %}
                                <li>
                                    {{ password_error_message }}
                                </li>
                            {% endif %}
                            {% for error in form.password.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                {{ form.submit }}
            </form>
        </div>
    </div>
</main>
{% endblock %}